{% extends 'login_base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="row justify-content-center">
        <div class="col-10">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button  class="btn btn-success" type="submit"> log in </button>
            </form>
        </div>
    </div> -->
    <div class="login_form row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
            <form method="post" class="my-4 p-4 border rounded shadow-lg bg-light">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success btn-block" type="submit">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}