{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <article id="hero">
      <h1 class="heading_shadow">ระบบขนส่งสินค้าสมานท่าทราย</h1>
      <!-- <p>
        30% Off This Weekend 
      </p> -->
      <!-- <a href="#" class="cta"> เพิ่มรายการ </a> -->
      <a href="{% url 'orderitem' %}" class="cta"> เพิ่มรายการ </a>
    </article>
  </section>
  <section>
    <article>
      <h2>เเก้ไขข้อมูล</h2>
      <p>
        ตรวจสอบข้อมูลของรายการที่ได้บันทึกไว้เเล้ว หรือเเก้ไขข้อมูลที่บันทึกผิดพลาด
      </p>
      <p>
        <a href="{% url 'editorderitem' %}">ตรวจสอบเเต่ละรายการ</a>
      </p>
      <img src="{% static 'img/SM_badge.jpg' %}">
    </article>
    <article>
      <h2>รวมข้อมูล</h2>
      <p>
        ตรวจสอบข้อมูล Transection โดยรวมที่เกิดขึ้นในระบบ
      </p>
      <p>
        <a href="{% url 'transection' %}">ตรวจสอบรายการรวม</a>
      </p>
      <img src="{% static 'img/SM_Dashboard.jpg' %}">
    </article>
    <article>
      <h2>ข้อมูลเพิ่มเติม</h2>
      <!-- <img src="{% static 'img/head_chef.jpg' %}"> -->
      <p>
        ในกรณีที่ต้องการความช่วยเหลือโปรดติดต่อ Admin 
      </p>
      <!-- <ul>
        <li>Mon - Fri: 2pm - 10pm</li>
        <li>Sat: 2pm - 11pm</li>
        <li>Sun: 2pm - 9pm</li>
      </ul> -->
    </article>
  </section>
{% endblock %}