{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <article id="hero">
      <h1 class="heading_shadow">Welcome to Accounting System</h1>
      <!-- <p>
        30% Off This Weekend 
      </p> -->
      <!-- <a href="#" class="cta"> เพิ่มรายการ </a> -->
      <a href="{% url 'orderitem' %}" class="cta"> Add Order </a>
    </article>
  </section>
  <section>
    <article>
      <h2>Edit Order</h2>
      <p>
        Check Edit or Add the order you might want to change
      </p>
      <p>
        <a href="{% url 'editorderitem' %}">ตรวจสอบเเต่ละรายการ</a>
      </p>
      <img src="{% static 'img/SM_badge.jpg' %}">
    </article>
    <article>
      <h2>Transection</h2>
      <p>
        Check all data transection in system
      </p>
      <p>
        <a href="{% url 'transection' %}">check transection</a>
      </p>
      <img src="{% static 'img/SM_Dashboard.jpg' %}">
    </article>
    <article>
      <h2>For more information</h2>
      <!-- <img src="{% static 'img/head_chef.jpg' %}"> -->
      <p>
        Please contact admin for further detail
        <br>
        Phone: 078-XXX-XXXX
        <br>
        Email: littlelemon@littlelemon.org
      </p>
      <!-- <ul>
        <li>Mon - Fri: 2pm - 10pm</li>
        <li>Sat: 2pm - 11pm</li>
        <li>Sun: 2pm - 9pm</li>
      </ul> -->
    </article>
  </section>
{% endblock %}